@import './_variables';
@import './_colors';
@import './_fonts';


*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1200px;
    padding: 20px;
}

.articles {
    display: grid;
    grid-gap: 1rem;
}

@media (min-width: 800px) {
    .articles {
        grid-template-columns: repeat(2, 1fr);
    }
}